@charset "UTF-8";

:root{}

body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background-color:#f5f5f5;
    color:#333;
}
tem que colocar as img dos livro como fundo dos h1 e deixar com um efeito paralax e tmb tem que adicionar mais uns emoji pra deixar mais dahora